@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  letter-spacing: -0.05em;
  outline: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.animate-fill {
  animation: animateFill 5s;
}

@keyframes animateFill {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
